#providerPersonalPlacementContainer{
  margin-top: -25px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 38px;
  margin-bottom: 100px !important;
}

#providerPersonalPlacement{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
}
