<app-header></app-header>


<div id='billParentContainer'>
  <div id='cardContainer'>
    <div id='cardBill'>
      <div>
        <img src='assets/paid.png' alt=''>
      </div>
      <div id='dateBill' class='field'>
        <img src='assets/calendar.png' alt=''>
        <p>01/07/2022</p>
      </div>
      <div id='hand'  class='field'>
        <img src='assets/hand.png' alt=''>
        <p>150 €</p>
      </div>
      <div id='contract' class='field'>
        <img src='assets/contract.png' alt=''>
        <p>Contrat XXX</p>
      </div>
      <div id='file' class='field'>
        <img src='assets/file.png' alt=''>
      </div>
    </div>
    <div id='cardBill'>

    </div>
  </div>


  <app-provider-description-card-details-container></app-provider-description-card-details-container>
</div>


<app-footer></app-footer>
