
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

#logo{
  position: absolute;
  max-height: 63px;
  max-width: 59px;
}

#TouffuHeader{
  position: absolute;
  top: 10px;
  left: 80px;
  color: #FBC95C;
  font-family: 'Montserrat bold', sans-serif;

}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 20px;
  margin-right: 10px ;
}
li{
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding: 8px;
  border-radius: 30px;
}

li:hover{
  color: #FBC95C;
  cursor: pointer;
}

