#firstLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

input:focus{
  outline: transparent;
}

.recurrence{
  width: 227px;
  height: 89px;

  border: transparent;
  border-radius: 30px;

  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 25px;

}


#secondLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}
