#firstLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.line{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

input:focus{
  outline: transparent;
}

.selectInput{
  width: 227px;
  height: 89px;

  border: transparent;
  border-radius: 30px;

  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding-left: 25px;

}

select {
  background-color: unset;
}

#secondLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

#thirdLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

#body {
  max-width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

#updateBtn {
  display: inline-block;
  text-align: center;
  border: unset;
  outline: unset;
  appearance: unset;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  top: 10vh;
  color: #FFFFFF;
  border-radius: 30px;
  width: 330px;
  height: 50px;
  align-self: center;
  background-color: #FBC95C;
}

*{
  font-family: 'Montserrat', sans-serif;
}
