.nameAndPlacement > p{
  margin: 0;
  color: white;
}

.nameAndPlacement{
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  bottom: 90px;
  left: 21px;
}

.name{
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: initial;
}
.placement{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: initial;
}
