<div id="parent">
  <div id="containerOfTitleAndImage">
    <div id="titleContainer" class="PrestataireAutoCenter">
      <p id="title">Trouvez le prestataire parfait</p>
    </div>
    <div id="containerImage">
      <div id="first-image">

      </div>
      <div id="second-image">

      </div>
      <div id="third-image">

      </div>
    </div>
  </div>
    <div id="PrestataireTitleContainer" class="PrestataireAutoCenter">
      <p id="descriptif">Choisissez la personne <br> qui vous assistera avec votre animal</p>
    </div>


  <app-provider-selector></app-provider-selector>
</div>
