<div id="parent">
  <div id="containerOfTitleAndImage">
    <div id="leftContainer">
      <div id="titleContainer">
        <p>Trouvez le prestataire parfait</p>
      </div>
      <div id="PrestataireTitleContainer">
        <p>Choisissez la personne <br> qui vous assistera avec votre animal</p>
      </div>
      <div style="max-width: 672px">
        <app-search-bar [animalType]='animalType'></app-search-bar>
        <app-select-animals (animalType)='saveCurrentAnimalType($event)'></app-select-animals>
      </div>
    </div>
    <div id="containerImage">
      <div id="first-image">
        <img src='../../../assets/lizy.svg' alt=''>
      </div>
      <div id="second-image">
        <img src='assets/roucky.svg' alt=''>
      </div>
      <div id="third-image">
        <img src='assets/sirius.svg' alt=''>
      </div>
    </div>
  </div>
</div>
