<div id="descriptifParent">
  <div id="descriptifContainerLeft">
    <div class="titleDescription">
      <h1>Services sur <span>Touffu</span></h1>
    </div>
    <div class="descriptifPlacement">
      <div class="preparationRightDescription">
        <p class="preparationRightDescriptionTitle">Préparation et mise à disposition de nourriture </p>
        <p class="preparationRightDescriptionSubTitle">Nourrir votre annimal selon vos conditions</p>
      </div>
      <div class="preparationRightDescription">
        <p class="preparationRightDescriptionTitle">Changement de litière</p>
        <p class="preparationRightDescriptionSubTitle">Nettoyage complet </p>
      </div>
      <div class="preparationRightDescription">
        <p class="preparationRightDescriptionTitle">Brossage</p>
        <p class="preparationRightDescriptionSubTitle">Soins et bien être de votre annimal</p>
      </div>
      <div class="preparationRightDescription">
        <p class="preparationRightDescriptionTitle">Promenade pour chien</p>
        <p class="preparationRightDescriptionSubTitle">Des promenades actives et agréables pour votre animal</p>
      </div>
      <div class="preparationRightDescription">
        <p class="preparationRightDescriptionTitle">Accompagnement chez le vétérinaire</p>
        <p class="preparationRightDescriptionSubTitle">Deplacement du prestataire pour les soins de votre annimal</p>
      </div>
    </div>
  </div>
  <div id="line"></div>
  <div id="descriptifContainerRight">
    <div class="titleDescription">
      <h1>Pourquoi <span>Touffu ?</span></h1>
    </div>
    <div class="descriptifPlacement">
      <div class="preparationLeftDescription">
        <div class="roundedParent">
          <img src="../../../assets/check.svg" class="rounded" alt="">
          <p class="preparationLeftDescriptionTitle">Service flexible et personnalisé d’assistance <br>pour votre animal</p>
        </div>
        <p class="preparationLeftDescriptionSubTitle">Les prestataire Touffu offrent un service personnalisé dans un
          <br>environnement rassurant et peuvent s'adapter spécialement
          <br>aux besoins de votre animal.</p>
      </div>
      <div class="preparationLeftDescription">
        <div class="roundedParent">
          <img src="../../../assets/check.svg" class="rounded" alt="">
            <p class="preparationLeftDescriptionTitle">Des amoureux des animaux près de chez vous</p>
        </div>
        <p class="preparationLeftDescriptionSubTitle">Nos prestataire sont sélectionnés attentivement par
          <br>notre équipe dédiée.</p>
      </div>
      <div class="preparationLeftDescription">
        <div class="roundedParent">
          <img src="../../../assets/check.svg" class="rounded" alt="">
            <p class="preparationLeftDescriptionTitle">Tranquillité d'esprit</p>
        </div>
        <p class="preparationLeftDescriptionSubTitle">Recevez des photos et des messages tous les jours pendant la garde de
          <br>votre animal.</p>
      </div>
      <div class="preparationLeftDescription">
        <div class="roundedParent">
          <img src="../../../assets/check.svg" class="rounded" alt="">
            <p class="preparationLeftDescriptionTitle">Promenade pour chien</p>
        </div>
        <p class="preparationLeftDescriptionSubTitle">Des promenades actives et agréables pour votre animal</p>
      </div>
      <div class="preparationLeftDescription">
        <div class="roundedParent">
          <img src="../../../assets/check.svg" class="rounded" alt="">
            <p class="preparationLeftDescriptionTitle">La Garantie Touffu</p>
        </div>
        <p class="preparationLeftDescriptionSubTitle">Réservez en toute sécurité sur Touffu et bénéficiez du service
          <br>clientèle, de la garantie de réservation.</p>
      </div>
    </div>
  </div>
</div>

