<app-header></app-header>

<div id="reportUserContainer">
  <div id="reportCommentForm">
    <app-report-provider-card-title-container></app-report-provider-card-title-container>
    <app-report-provider-card-comment-container></app-report-provider-card-comment-container>
    <app-report-provider-button-send></app-report-provider-button-send>
  </div>
  <app-provider-description-card-details-container></app-provider-description-card-details-container>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
