#reportUserContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 59px;
}

#reportCommentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

