<div id='mainContainerInformation'>
  <form (submit)='updateInformation()' novalidate #informationForm="ngForm">
    <div>
      <label>prénom</label>
      <input type='text' id='name' minlength='1' required name='name' value='{{provider?.name}}' [(ngModel)]='provider!.name'>
    </div>
    <div>
      <label>Nom</label>
      <input type='text' id='surname' minlength='1' required name='surnmae' value='{{provider?.surname}}' [(ngModel)]='provider!.surname'>
    </div>
    <div>
      <label>email</label>
      <input type='text' id='email' minlength='1' required name='email' value='{{provider?.email}}' [(ngModel)]='provider!.email'>
    </div>
    <div>
      <label>Mot de passe</label>
      <input type='password' id='mdp' minlength='1' required name='mdp' value='{{provider?.password}}' [(ngModel)]='provider!.password'>
    </div>
    <button id='modifyButton' [hidden]='informationForm.invalid' type='submit'>Mettre à jour</button>
  </form>
</div>
<div id='messageContainer'>
  <div class="alertMsg" id="errorMsg" *ngIf="this.reportSendOk === false">
    <p>{{this.message}}</p>
  </div>
  <div class="alertMsg" id="successMsg" *ngIf="this.reportSendOk === true">
    <p>{{this.message}}</p>
  </div>
</div>

