<div id="parentContainerCard">
  <div class="card">
    <div class="imageProvider">

    </div>
    <div class="descriptionOfProvider">
      <p class="descriptionOfProviderText">Etudiant à l’ESGI, gaga de chats, loutres,
        et de chèvres naines.</p>
    </div>
    <div class="priceOfProvider">
      <p class="priceOfProviderText">150€ /h</p>
    </div>
  </div>
  <div class="card">
    <div class="imageProvider">
    </div>
    <div class="descriptionOfProvider">
      <p class="descriptionOfProviderText">Etudiante à Hanyang Seoul Campus,
        vit pour ses les chats.</p>
    </div>
    <div class="priceOfProvider">
      <p class="priceOfProviderText">20€ /h</p>
    </div>
  </div>
  <div class="card">
    <div class="imageProvider">
    </div>
    <div class="descriptionOfProvider">
      <p class="descriptionOfProviderText">Travaille chez KaliaNature, envoie
        constament des memes de chatons à ...</p>
    </div>
    <div class="priceOfProvider">
      <p class="priceOfProviderText">-10€ /h</p>
    </div>
  </div>
</div>
