#containerNameAndStatus{
  width: 375px;
  height: 183px;
  background-color: #FBDDA0;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  :first-child{
    font-family: Montserrat, "sans-serif";
    font-weight: bold;
    font-size: 32px;
  }

  p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
  }

  p{
    margin: 0 0 0 35px;
    padding-top: 10px;
  }
}
