@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

#title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 64px;
  color: #411013;
}

#titleContainer{
  max-width: 700px;
}

#descriptif{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: #411013;
}

#descriptifContainer{
  padding-top:26px;
  max-width: 450px;
}


#parent{
  margin-left: 151px;
  margin-top: 325px;
}

#containerOfTitleAndImage{
  display: flex;
  flex-direction: row;
}

#first-image{
  min-width: 177px;
  min-height: 602px;
  border-radius:100px;
  background-color: grey;
  position: absolute;
  left: calc(100% - 177px - 427px);
  top: 241px;
}

#second-image{
  min-width: 177px;
  min-height: 602px;
  border-radius:100px;
  background-color: grey;
  position: absolute;
  left: calc(100% - 177px - 226px);
  top: 325px;
}

#third-image{
  min-width: 177px;
  min-height: 602px;
  border-radius:100px;
  background-color: grey;
  position: absolute;
  left: calc(100% - 177px - 25px);
  top: 164px;
}

@media screen and (max-width: 1436px){
  #containerImage{
    display: none;
  }
}
