<app-header></app-header>


<div id="containerTitleAndCardDescription">
  <app-provider-description-title-container></app-provider-description-title-container>

  <div id="providerCard">
    <div id="providerPictureContainer">
      <img id="providerPicture" src="assets/theo.svg">
    </div>
    <p id="providerName">Théo</p>
    <div id="starContainer">
      <img src="assets/star.svg">
      <p>4.9 (110 avis)</p>
    </div>
    <div id="priceContainer">
      <p>promenade</p>
      <p id="price">150 €</p>
    </div>
    <div id="Contact">
     <button id="inputIndex">Contacter</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
