<app-header></app-header>


<div id="containerTitleAndCardDescription">
  <div id="containerProfileCards">
    <app-provider-description-title-container></app-provider-description-title-container>
    <app-provider-description-card-about-container></app-provider-description-card-about-container>
  </div>

  <app-provider-description-card-details-container></app-provider-description-card-details-container>
</div>
<div id="containerRecommendations">
  <div id="recommendations">
    <app-provider-description-recommendations-title></app-provider-description-recommendations-title>
    <app-provider-description-recommendations-card></app-provider-description-recommendations-card>
    <app-provider-description-recommendations-card></app-provider-description-recommendations-card>
  </div>
  <div style="width: 353px;"></div>
</div>


<app-footer></app-footer>
