.priceOfProvider{
  background-color: rgba(233, 173, 201, 0.2);
  max-width: 99px;
  height: 39px;
  border-radius: 30px;
  position: relative;
  left: 8px;
  display: flex;
  justify-content: center;
}

.priceOfProviderText{
  text-align: center;
  position: relative;
  bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #F356A0 ;
}
