<div id="actionsContainer">
  <div *ngIf='!userId'>
    <a routerLink='/signup-provider'><button id="becomeProvider">Devenir prestataire</button></a>
    <a routerLink='/signup-recipient'><button>Inscription</button></a>
    <button routerLink='/connection'>Connexion</button>
  </div>
  <div *ngIf='userId' >
    <a *ngIf='userType == "provider"' routerLink='/provider-profile'><button>{{userEmail}}</button></a>
    <a *ngIf='userType == "recipient"' routerLink='/recipient-profile'><button>{{userEmail}}</button></a>
    <a routerLink="/user-calendar"><button>Calendrier</button></a>
    <a routerLink='/list-agreement'><button>Contrats</button></a>
    <a routerLink='/message'><button>Messagerie</button></a>
    <button (click)='signOut()'>Déconnexion</button>
  </div>

</div>

<router-outlet></router-outlet>
