<app-header></app-header>

<div id='agreementContainer'>
  <app-provider-description-card-details-container [base_tarif]='agreement!.remuneration' [name]='provider!.name' [id]='provider!.id'></app-provider-description-card-details-container>
  <div id='agreementDetail'>
    <ul id='firstList'>
      <div class='item'>
        <label>Rémunération</label>
        <li>{{agreement!.remuneration}} €</li>
      </div>
      <div class='item'>
        <label>Status</label>
        <li>{{agreement!.status}}</li>
      </div>
    </ul>
    <ul>
      <div class='item'>
        <label>Durée en minutes</label>
        <li>{{agreement!.duration}}</li>
      </div>
      <div class='item'>
        <label>Date de début</label>
        <li>{{agreement!.beginningDate.split("T")[0]}}</li>
      </div>
    </ul>
    <ul>
      <div class='item'>
        <label>Date de fin</label>
        <li>{{agreement!.endDate.split("T")[0]}}</li>
      </div>
    </ul>
  </div>
</div>

<div id='parent'>
  <agm-map  *ngIf='isPosition' style='height: 300px; width: 95vw; padding-top: 100px;' [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div id='errorMsg' class='alertMsg' *ngIf='!isPosition'>
    <span>Les coordonnées du prestataire ne sont pas connues</span>
  </div>
</div>


<app-footer></app-footer>
