<div id="containerSelector">
  <div id="parentSelector">
    <div id="containerSelectorIndex">
      <div id="trySelector">
        <input type="text" class="inputIndex" placeholder='Essayer "Chat"'>
      </div>
      <div id="CitySelector">
        <input type="text"  class="inputIndex" id="cityInput" placeholder='Adresse ou ville'>
      </div>
      <div id="Search">
        <a><button type="button"  class="inputIndex" id="SearchInput">Rechercher</button></a>
      </div>
    </div>

  </div>
  <div id="animal" class="fade" [class.show]="true">
    <div id="containerAnimals">
      <div class="hoverAnimal">
        <p class="animals">Chat</p>
      </div>
    </div>

  </div>
</div>
