:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
#cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  column-gap: 200px;
  margin-left: 250px;
}

