#searchSelector{
  min-width: 890px;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

#containerSearchSelector{
  display: flex;
  justify-content: center;
}
