<app-header></app-header>

<div id='mainContainerAgreement'>
  <app-container-name-and-status [provider]='provider!' [user]='user' ></app-container-name-and-status>
  <div id='firstSelectLine'>
    <app-select-recurency (recurrence)='setRecurrence($event)'></app-select-recurency>
    <app-start-date (weekly)='setWeeklyDate($event)' [providerId]='provider!.id'  [agreement]='this.agreements'></app-start-date>
    <div class='recurrenceContainer'>
      <img src='assets/checkBox.svg' alt=''>
      <input class='recurrence' type='date' name='endDate' [(ngModel)]='this.agreements.endDate'>
    </div>

  </div>
  <div id='secondLine'>
    <div class='recurrenceContainer'>
      <select name='startHour' class='recurrence' #startHour (change)='setMaxDuration(startHour.value)'>
        <option value=''>Start hour</option>
        <option *ngFor='let hour of hours' value='{{computeHourDisplay(hour)}}'>{{computeHourDisplay(hour)}}</option>
      </select>
   </div>

    <div class='recurrenceContainer'>
      <select name='duration' class='recurrence' [(ngModel)]='this.agreements.duration'>
        <option>Duration</option>
        <option *ngFor='let duration of durations' value='{{duration}}'>{{computeHourDisplay(duration)}}</option>
      </select>
    </div>

    <div class='recurrenceContainer'>
      <input type='number' name='remuneration' class='remuneration' [(ngModel)]='this.agreements.remuneration'>
    </div>
  </div>
</div>
<button (click)='sendAgreement(startHour.value)'>Click me</button>
<app-footer></app-footer>
