
#firstSelectLine{
  display: flex;
  gap: 65px;
  margin-left: 161px;
  margin-top: 80px;
  flex-wrap: wrap;
}

#mainContainerAgreement{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
