<app-header></app-header>

<form (ngSubmit)="onFormSubmit()">
  <div id="mainContainer">
    <div id="containerPersonalInformation">
      <div class="smallInputs">
        <input id="inputName" [(ngModel)]="newRecipient.name" name="name" placeholder="Nom" type="text">
        <input id="inputSurname" [(ngModel)]="newRecipient.surname" name="surname" placeholder="Prénom" type="text">
      </div>
      <div class="largeInput">
        <div id="emailContainer">
          <input id="inputEmail" [(ngModel)]="newRecipient.email" name="email" placeholder="Email" type="text">
        </div>
        <div id="phoneContainer">
          <input id="inputPhone" [(ngModel)]="newRecipient.phone" name="phone" placeholder="Tel" type="text">
        </div>
        <div id="passwordContainer">
          <input id="inputPassword" [(ngModel)]="newRecipient.password" name="password" placeholder="Password" type="text">
        </div>
      </div>
    </div>

    <div id="containerAddress">
      <div class="largeInput">
        <div>
          <input name="addr1" [(ngModel)]="newRecipient.address.addr1" placeholder="Addr 1" type="text">
        </div>
        <div>
          <input name="Addr2" [(ngModel)]="newRecipient.address.addr2" placeholder="Addr 2" type="text">
        </div>
      </div>
      <div class="smallInputs">
        <input name="zipCode" [(ngModel)]="newRecipient.address.zipcode" placeholder="Code postal" type="text">
        <input name="city" [(ngModel)]="newRecipient.address.city" placeholder="Ville" type="text">
      </div>
      <div class="largeInput">
        <div>
          <input name="country" [(ngModel)]="newRecipient.address.country" placeholder="Pays" type="text">
        </div>
      </div>
    </div>
  </div>
  <button>Submit</button>
</form>

<app-footer></app-footer>
