<app-header></app-header>

<form #signUpRecipient="ngForm" (ngSubmit)="onFormSubmit(signUpRecipient)">
  <div id="mainContainer">
    <div id="containerPersonalInformation">
      <div class="smallInputs">
        <input id="inputName" ngModel name="name" placeholder="Nom" type="text">
        <input id="inputSurname" ngModel name="surname" placeholder="Prénom" type="text">
      </div>
      <div class="largeInput">
        <div id="emailContainer">
          <input id="inputEmail" ngModel name="email" placeholder="Email" type="text">
        </div>
        <div id="phoneContainer">
          <input id="inputPhone" ngModel name="phone" placeholder="Tel" type="text">
        </div>
        <div id="passwordContainer">
          <input id="inputPassword" ngModel name="password" placeholder="Password" type="password">
        </div>
      </div>
    </div>

    <div id="containerAddress">
      <div class="largeInput">
        <div>
          <input name="addr1" ngModel placeholder="Addr 1" type="text">
        </div>
        <div>
          <input name="Addr2" ngModel placeholder="Addr 2" type="text">
        </div>
      </div>
      <div class="smallInputs">
        <input name="zipCode" ngModel placeholder="Code postal" type="text">
        <input name="city" ngModel placeholder="Ville" type="text">
      </div>
      <div class="largeInput">
        <div>
          <input name="country" ngModel placeholder="Pays" type="text">
        </div>
      </div>
    </div>
  </div>
  <button>Submit</button>
</form>

<app-footer></app-footer>
