@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

#containerSelector{
  position: relative;
  max-width: 672px;
  min-width: 672px;
  margin-left: 0;
  margin-right: 0;
}

#parentSelector{
  max-width: 100%;
  min-width: 100%;
  min-height: 89px;
  background-color: white;
  border-radius: 30px;
  margin-top: 29px;
}

#trySelector:before{
  content: url("../../../assets/paw.svg");
  position: relative;
  top: 31px;
  left: 29px;
}

#containerSelectorIndex{
  display: flex;
}

#CitySelector:before{
  content: url("../../../assets/position.svg");
  position: relative;
  top: 31px;
  left: 29px;
}


#cityInput{
  max-width: 150px;
}

.inputIndex{
  border: unset;
  outline: unset;
  appearance: unset;
  position: relative;
  top: 22px;
  left: 3vw;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
}

.inputIndex::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #C4C4C4;
}

#SearchInput{
  position: relative;
  color: white;
  top: 15px;
  background-color: #FBC95C;
  min-width: 156px;
  min-height: 62px;
  border-radius: 25px;
}

#animal{
  min-height: 318px;
  max-width: 273px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  gap: 14px;
  text-align: left;
}

.animals{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 8px;
}


.firstAnimal{
  padding-top: 19px;
}

.hoverAnimal:hover{
  border-radius: 30px;
  max-width: 254px;
  min-height: 34px;
  background-color: #FFF4DE;
}


.hoverAnimal{
  margin-left: 10px;
}

#containerAnimals{
  margin-top: 10px;
}


.show{
  opacity: 1 !important;
}

.fade{
  opacity: 0;
  transition: .2s ease-in-out all;
}


@media screen and (max-width: 1436px){
  #containerSelector{
    margin-left: auto;
    margin-right: 440px;
  }
  #parentSelector{
    margin-left: auto;
    margin-right: 440px;
  }
  #animal{
    min-height: 318px;
    max-width: 273px;
    min-width:273px ;
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    gap: 14px;
    text-align: left;

    margin-right: 840px;
    margin-left: auto;
  }
}
