#header{
  display: flex;
  justify-content: space-around;
  p{
    font-family: 'Montserrat', sans-serif;
  }
}

#value{
  display: flex;
  justify-content: space-around;
  p{
    font-family: 'Montserrat', sans-serif;
  }
}
