<app-header></app-header>
<div id='header'>
  <p>recurrence</p>
  <p>remunération</p>
  <p>status</p>
  <p>duration</p>
  <p>actions</p>
</div>
  <div id='value' *ngFor='let agreement of Agreements'>
    <p>{{agreement.recurrence}}</p>
    <p>{{agreement.remuneration}}</p>
    <p>{{agreement.status}}</p>
    <p>{{agreement.duration}}</p>
    <a *ngIf='agreement.status === "InDiscussion"' routerLink='/agreement-update' [queryParams]='{"agreementId": agreement.id, "recipientId": agreement.recipientRef.split("/")[4]}'>Mettre à jour</a>
    <a *ngIf='agreement.status === "Agreed"' routerLink='/agreement-detail' [queryParams]='{"agreementId": agreement.id}'>Détail</a>
  </div>
<app-footer></app-footer>

<router-outlet></router-outlet>
