#reportButton {
  text-align: center;
  border: unset;
  outline: unset;
  appearance: unset;
  position: relative;
  top: 22px;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

.reportButton {
  border-radius: 30px;
  display: inline-block;
  width: 330px;
  height: 50px;
  align-content: center;
  background-color: #FBC95C;
}
