.recommendationCardAuthorImage{
  display: inline-block;
  background: #411013;
  color: #FFFFFF;
  height: 38px;
  width: 38px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
}
