


#mainContainer{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

app-conversation {
  margin-top: 25px;
  width: 100%;
  border-top: 2px solid #E5E5E5;
  padding: 60px;
}
