<app-header></app-header>
<div id="mainContainer">
  <div id="leftBarMessage">
    <div id="messageCard">
      <img src="assets/theo.svg" alt="">
      <div id="nameAndMessage">
        <p id="name">Théo</p>
        <p id="lastMessage">Dernier message</p>
      </div>
    </div>
  </div>
  <div id="messages">
    <div id="myMessageAndImage">
      <div id="myMessage">
        <p id="mySelf">Vous</p>
        <div id="selfMessageContainer">
          <p id="selfMessage">L'état qui engendre la règle est différent</p>
        </div>

      </div>
      <div id="myImage">
        <img src="assets/theo.svg" alt="">
      </div>
    </div>

  </div>
</div>
