#leftBarMessage{
  min-height: calc(100px);
  width: 517px;
  margin-top: 25px;
  border-top: 2px solid #676767;
  border-right: 2px solid #676767;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#messages{
  border-top: 2px solid #676767;
  min-height: calc(100px * 8.99);
  width: calc(517px * 2.8);
  margin-top: 25px;
  display: flex;
  gap: 30px;
}

#mainContainer{
  display: flex;
  flex-direction: row;
  height: 100%;
}

img{
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

#messageCard{
  margin-left: 23px;
  margin-top: 22px;
  display: flex;
  gap: 25px;
}

#name{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

p{

  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#nameAndMessage{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

#lastMessage{
  color: #676767;
}

#mySelf{
  font-weight: bold;
  display: flex;
  font-size: 18px;
  justify-content: end;
}

#myMessageAndImage{
  display: flex;
  gap: 15px;
}

#selfMessage{
  padding-top: 5px;
  padding-right: 35px;
  padding-left: 35px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

#selfMessageContainer{
  border-radius: 25px 3px 25px 25px;
  max-width: 470px;
  background-color: #FBC95C;
  min-height: 59px;
}

#myMessage{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
