<div class='mainContainerInformation'>
  <div>
    <label>adresse 1</label>
    <input type='text' id='addr1' minlength='1' required name='addr1' value='{{address?.addr1}}' [(ngModel)]='address!.addr1'>
  </div>
  <div>
    <label>adresse 2</label>
    <input type='text' id='addr2' minlength='1' required name='addr2' value='{{address?.addr2}}' [(ngModel)]='address!.addr2'>
  </div>
  <div>
    <label>Ville</label>
    <input type='text' id='city' minlength='1' required name='city' value='{{address?.city}}' [(ngModel)]='address!.city'>
  </div>
  <div>
    <label>Pays</label>
    <input type='text' id='country' minlength='1' required name='country' value='{{address?.country}}' [(ngModel)]='address!.country'>
  </div>
  <div>
    <label>Code postal</label>
    <input type='text' id='zipCode' minlength='1' required name='zipCode' value='{{address?.zipcode}}' [(ngModel)]='address!.zipcode'>
  </div>
</div>
