<app-header></app-header>
<div id='userCalendar'>
  <div id='header'>
    <h1>Calendrier</h1>
    <button id="goBefore" class='moveButton' (click)='toWeekBefore()'>< Précédent</button>
    <span>{{displayDate(this.calendarDateFrom)}} à {{displayDate(this.calendarDateTo)}}</span>
    <button id="goNow" class='moveButton' (click)='toNow()'>Aujourd'hui</button>
    <button id="goAfter" class='moveButton' (click)='toWeekAfter()'>Suivant ></button>
  </div>

  <table id='availabilitiesTable'>
    <thead>
    <tr>
      <th>Heures</th>
      <th *ngFor="let day of WEEKDAYS">{{translateDay(day)}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hour of dailyHours">
      <td>{{computeDisplayHour(hour)}}</td>
      <td *ngFor="let day of WEEKDAYS" [ngClass]="getIndex(day, hour) !== -1 ? 'selected' : ''"></td>
    </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
