#body{
  max-width: 60%;
  margin: auto;
}

#cardBill{
  width: 871px;
  height: 89px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  div{
    padding-top: 20px;
  }
}

h2 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#billParentContainer{
  display: flex;
  justify-content: space-around;
}

#informationContainer{
  display: flex;
  justify-content: space-around;
}

#cardContainer{
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}

img{
  width: 50px;
}


p{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.field{
  display: flex;
  gap: 48px;
  img{
    width: 35px;
    height: 35px;
  }
  margin-top: 5px;
}

#paid{
  width: 100px;
  background-color: #FBC95C;
  border-color: transparent;
  height: 50px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

#paid:hover{
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

*{
  font-family: 'Montserrat', sans-serif;
}
