<app-header></app-header>


<div id='billParentContainer'>
  <div id='cardContainer'>
    <div class='cardBill' *ngFor='let bill of bills'>
      <div>
        <img *ngIf='bill.datePaid' src='assets/paid.png'>
        <button id='paid' *ngIf='!bill.datePaid' routerLink='/bill-payment' [queryParams]='{"id" : bill.id!}'>Payer</button>
      </div>
      <div id='dateBill' class='field'>
        <img src='assets/calendar.png' alt=''>
        <p>{{bill.dateBill}}</p>
      </div>
      <div id='hand'  class='field'>
        <img src='assets/hand.png' alt=''>
        <p>{{bill.total}} €</p>
      </div>
      <div id='contract' class='field'>
        <img src='assets/contract.png' alt=''>
        <p>{{bill.agreementRef}}</p>
      </div>
      <div id='file' class='field'>
        <img src='assets/file.png' alt=''>
      </div>
    </div>

    <div class='cardBill' *ngIf='message'><span>{{message}}</span></div>
  </div>


</div>


<app-footer></app-footer>
<router-outlet></router-outlet>
